# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
buchhaltung-osx-386
profile.cov
buchhaltung
types/output.json
pdf/339px-Opensource.svg.png
.DS_Store
pdf/Roboto/*
pdf/Roboto.zip
pdf/test.pdf
pdf/testRead1.pdf
r1.pdf
pdfrename/Roboto.zip
pdfrename/Roboto/*
config_example.json
.vscode/launch.json
